
@media (min-width: 300px) and (max-width:800px){
    
    .left-side .btn {
        font-size: 16px; 
    }
    nav .center .logo {
        display: none;
    }
    nav .center .slogan {
        display: none;
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container img {
        width: 400px;
        height: 400px;
    }
    .skill-upside, .skill-downside {
        display: flex;
        flex-direction: column;
        gap: none;
    }
    .services-option{
        display: flex;
        flex-direction: column;
    }
    .footer-upside {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: 70px;
        margin-right: 80px; 
    }
    .footer-downside {
        display: none;
        /*flex-direction: row;
        justify-content: center;
        margin-left: 70px;
        margin-right: 80px;
        font-size: 12px; */
    }
    .footer-logo a {
       font-size: 12px;
    }
    .social-media img {
        width: 20px;
        height: 20px;        
    }
    .say-hi-title {
        font-size: 24px;
    }
    footer .horizontal {
        display: none;
    }
    .skill-upside .code img {
        margin-left: 48px;
    }
    .skill-downside .code img {
        margin-left: 48px;
    }
    .offer .offer-title {
        font-size: 30px;
    }
    .offer .my-offer {
        font-size: 16px;
    }
    .offer .btn {
        width: 85%;
        height: 50px;
        font-size: 12px;
    }
   
    .code img {
        display: flex;
        justify-content: center;
        margin-left: 25px;
        margin-right: 25px;
    }

  
}

